.holder{
    display:grid;
    width:80%;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 20px;
       
}

.holder2{
    display:grid;
    width:30%;
    margin: auto;
    align-items: center;
    /* justify-content: center; */
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
       
}



@media screen and (max-width: 768px){
    .holder{
    grid-template-columns: repeat(2, 1fr); 
    }
   
}

@media screen and (max-width: 600px){
    .holder{
    grid-template-columns: repeat(1, 1fr); 
    }
   
}
